// Colors
$primary-color : #56D2DC;
$secondry-color: #123127;
$text-color: #11141A;;

// Fonts
$fontMain: 'Montserrat', sans-serif;


// Breakpoints
$breakout1200 : 1200px;
$breakout1024 : 1024px;
$breakout991 : 991px;
$breakout767 : 767px;
$breakout576 : 576px;